:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --border-color: #808080;
    --header-size: 100px;
    --footer-size: 100px;
    --card-width: 300px;
    --card-height: 350px;
    --page-max-width: 1400px;
}