.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px var(--border-color) solid;
    text-align: center;
    border-radius: 4px;
    height: var(--card-height);
    width: var(--card-width);
}
.card:hover {
    background: var(--border-color);
    transition: 0.5s;
}

.img_holder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img_holder img {
    border-radius: 100%;
}